In [11]:
import pandas as pd
import matplotlib.pyplot as plt
# Leer el dataset
url='https://raw.githubusercontent.com/JJTorresDS/ds-data-sources/main/income_per_person_gdppercapita_ppp_inflation_adjusted.csv'
df= pd.read_csv(url,sep=',')
df

,country,1799,1800,1801,1802,1803,1804,1805,1806,1807,...,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049
0,Afghanistan,674,674,674,674,674,674,674,674,674,...,2880,2940,3000,3070,3130,3200,3270,3340,3410,3480
1,Angola,691,693,697,700,702,705,709,712,716,...,8040,8220,8390,8570,8750,8940,9120,9320,9520,9720
2,Albania,746,746,746,746,746,747,747,747,747,...,24.5k,25k,25.5k,26.1k,26.6k,27.2k,27.8k,28.3k,28.9k,29.6k
3,Andorra,1340,1340,1340,1350,1350,1350,1350,1360,1360,...,108k,111k,113k,116k,118k,121k,123k,126k,128k,131k
4,United Arab Emirates,1120,1120,1120,1130,1130,1140,1140,1150,1150,...,74.5k,76.1k,77.7k,79.3k,81k,82.7k,84.5k,86.3k,88.1k,90k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Samoa,1570,1570,1570,1570,1570,1570,1570,1570,1570,...,8230,8410,8590,8770,8960,9150,9340,9540,9740,9950
191,Yemen,981,983,986,988,992,994,997,1000,1000,...,3980,4060,4150,4240,4330,4420,4510,4610,4710,4810
192,South Africa,1760,1740,1720,1700,1680,1590,1590,1730,1510,...,14.5k,14.8k,15.2k,15.5k,15.8k,16.1k,16.5k,16.8k,17.2k,17.6k
193,Zambia,741,743,746,747,749,750,752,755,756,...,3530,3610,3680,3760,3840,3920,4010,4090,4180,4270
194,Zimbabwe,972,973,974,975,976,977,978,979,981,...,3490,3570,3640,3720,3800,3880,3960,4050,4130,4220

In [21]:
# Filtrar los datos para obtener solo las filas correspondientes a Argentina
argentina_data = df[df['country'] == 'Argentina']

# Obtener el valor del GDP de Argentina en el año 2015
gdp_argentina1 = argentina_data['2015'].values[0]
gdp_argentina2 = argentina_data['2016'].values[0]
gdp_argentina3 = argentina_data['2020'].values[0]

print(f"El GDP de Argentina en 2015 fue: {gdp_argentina1}")
print(f"El GDP de Argentina en 2016 fue: {gdp_argentina2}")
print(f"El GDP de Argentina en 2020 fue: {gdp_argentina3}")

El GDP de Argentina en 2015 fue: 23200.0
El GDP de Argentina en 2016 fue: 23600.0
El GDP de Argentina en 2020 fue: 20600.0

In [12]:
# Filtrar los datos para obtener solo las filas correspondientes a Argentina
argentina_data = df.loc[df['country'] == 'Argentina']

# Mostrar la información de Argentina
print(argentina_data)

     country  1799  1800  1801  1802  1803  1804  1805  1806  1807  ...  \
5  Argentina  1710  1710  1720  1730  1730  1740  1740  1750  1760  ...

    2040   2041  2042   2043   2044   2045   2046   2047   2048   2049
5  27.8k  28.4k   29k  29.6k  30.2k  30.9k  31.5k  32.2k  32.9k  33.6k

[1 rows x 252 columns]

In [13]:
# Filtrar los datos para obtener solo las filas correspondientes a Argentina y mostrar la columna '2019'
argentina_gdp_2019 = df.loc[df['country'] == 'Argentina', '2019']
print(argentina_gdp_2019)

5    19.7k
Name: 2019, dtype: object

In [14]:
# Función para convertir valores como '23k' a 23000
def convert_to_numeric(value):
    if isinstance(value, str) and 'k' in value:
        return float(value.replace('k', '')) * 1000
    elif isinstance(value, str):
        return float(value)
    else:
        return value

# Aplicar la función de conversión a las columnas de los años 2015 a 2021
for col in df.loc[:, '2015':'2021']:
    df[col] = df[col].apply(convert_to_numeric)

# Filtrar los datos para obtener solo las filas correspondientes a Argentina
argentina_data = df[df['country'] == 'Argentina']

# Seleccionar las columnas de los años 2015 a 2021 y calcular el promedio
argentina_gdp_values = argentina_data.loc[:, '2015':'2021']
argentina_gdp_mean = argentina_gdp_values.mean().mean()

print(f"El promedio del GDP de Argentina de 2015 a 2021 es: {argentina_gdp_mean:.2f}")

El promedio del GDP de Argentina de 2015 a 2021 es: 21842.86

In [15]:
# Función para convertir valores como '23k' a 23000
def convert_to_numeric(value):
    if isinstance(value, str) and 'k' in value:
        return float(value.replace('k', '')) * 1000
    elif isinstance(value, str):
        return float(value)
    else:
        return value

# Aplicar la función de conversión a las columnas de los años 2015 a 2021
for col in df.loc[:, '2015':'2021']:
    df[col] = df[col].apply(convert_to_numeric)

# Filtrar los datos para obtener solo los países de Sudamérica
south_america_countries = ['Argentina', 'Brazil', 'Colombia', 'Chile', 'Peru', 'Ecuador', 'Bolivia', 'Paraguay', 'Uruguay', 'Venezuela']
south_america_data = df[df['country'].isin(south_america_countries)]

# Filtrar los datos para obtener solo los países de América del Norte
north_america_countries = ['United States', 'Canada', 'Mexico']
north_america_data = df[df['country'].isin(north_america_countries)]

# Calcular el promedio del GDP para Sudamérica
sa_gdp_values = south_america_data.loc[:, '2015':'2021']
sa_gdp_mean = sa_gdp_values.mean().mean()

# Calcular el promedio del GDP para América del Norte
na_gdp_values = north_america_data.loc[:, '2015':'2021']
na_gdp_mean = na_gdp_values.mean().mean()

print(f"El promedio del GDP de Sudamérica de 2015 a 2021 es: {sa_gdp_mean:.2f}")
print(f"El promedio del GDP de América del Norte de 2015 a 2021 es: {na_gdp_mean:.2f}")

El promedio del GDP de Sudamérica de 2015 a 2021 es: 15051.71
El promedio del GDP de América del Norte de 2015 a 2021 es: 43019.05